html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
  font: 12px/1.428571429 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  color: #002b36;
}
a {
  color: #aaa;
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
p {
  margin: 0 0 8.5px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 400;
  line-height: 1.1;
  color: inherit;
}
h1,
h2,
h3 {
  margin-top: 17px;
  margin-bottom: 8.5px;
}
h4,
h5,
h6 {
  margin-top: 8.5px;
  margin-bottom: 8.5px;
}
h1 {
  font-size: 31px;
}
h2 {
  font-size: 25px;
}
h3 {
  font-size: 21px;
}
h4 {
  font-size: 15px;
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 11px;
}
hr {
  margin-top: 17px;
  margin-bottom: 17px;
  margin-left: 0;
  margin-right: 0;
  border: 0;
  border-top: 1px solid #d6e0e8;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
[class^=button] {
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.428571429;
  margin: 0;
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
[class^=button]:focus {
  outline: thin dotted #333;
  outline: 0 auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
[class^=button].hover,
[class^=button]:hover,
[class^=button]:focus {
  text-decoration: none;
}
[class^=button].active,
[class^=button]:active {
  outline: 0;
  background-image: none;
  box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
}
[class^=button].disabled,
[class^=button][disabled],
fieldset[disabled] [class^=button] {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
  box-shadow: none;
}
.button-default {
  background: #fff;
  color: #656;
  border-width: 1px;
  border-style: solid;
  border-color: #777;
}
.button-default.hover,
.button-default:hover,
.button-default:focus {
  color: #656;
  background: #fff;
}
.button-transparent {
  background: transparent;
  color: #656;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
}
.button-transparent.hover,
.button-transparent:hover,
.button-transparent:focus {
  color: #656;
}
.button-primary {
  background: #446277;
  color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #3d586b;
}
.button-primary.hover,
.button-primary:hover,
.button-primary:focus {
  color: #fff;
  background: #50738c;
}
.button-warning {
  background: #cb4b16;
  color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #b74414;
}
.button-warning.hover,
.button-warning:hover,
.button-warning:focus {
  color: #fff;
  background: #e55519;
}
.button-danger {
  background: #dc322f;
  color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #ce2623;
}
.button-danger.hover,
.button-danger:hover,
.button-danger:focus {
  color: #fff;
  background: #e04744;
}
.button-success {
  background: #859900;
  color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #788a00;
}
.button-success.hover,
.button-success:hover,
.button-success:focus {
  color: #fff;
  background: #a4bd00;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
}
input[type="text"],
select,
textarea {
  background-color: #fff;
  border-color: #b4bfc1;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.055);
  box-sizing: border-box;
  color: #002b36;
  display: block;
  font-size: 12px;
  height: 31px;
  line-height: 1.428571429;
  margin-bottom: 6px;
  padding: 6px 10px;
  vertical-align: middle;
  width: 100%;
  transition-property: border-color box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
}
input[type="text"][disabled],
select[disabled],
textarea[disabled],
input[type="text"][readonly],
select[readonly],
textarea[readonly],
fieldset[disabled] input[type="text"],
fieldset[disabled] select,
fieldset[disabled] textarea {
  cursor: not-allowed;
  background-color: #93a1a1;
}
input[type="text"]:focus,
select:focus,
textarea:focus {
  border-color: #9ba9ad;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.055), 0 0 8px #9ba9ad;
  outline: 0;
  outline-offset: -2px;
}
select[multiple],
select[size] {
  height: auto;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
label {
  display: inline-block;
  margin-bottom: 6px;
  font-weight: bold;
}
legend {
  border: 0;
  border-bottom: 1px solid #e5e5e5;
  color: #586e75;
  display: block;
  font-size: 18px;
  line-height: inherit;
  margin-bottom: 17px;
  padding: 0;
  width: 100%;
}
.container {
  *zoom: 1;
  margin-right: auto;
  margin-left: auto;
  padding-left: 30px;
  padding-right: 30px;
}
.container:before,
.container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
.badge {
  display: inline-block;
  min-width: 10px;
  padding: 2px 5px;
  font-size: 12px;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #999;
  border-radius: 10px;
  margin-left: 8px;
  color: #fff;
}
.badge:empty {
  display: none;
}
.icon-search,
.icon-heart,
.icon-user,
.icon-home,
.icon-left,
.icon-right,
.icon-ex,
.icon-bell,
.icon-flask,
.icon-navicon {
  font-family: 'shoelace';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'shoelace';
  src: url("data:application/font-woff;base64,d09GRgABAAAAAAr0AAsAAAAACqgAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABPUy8yAAABCAAAAGAAAABgDpIN82NtYXAAAAFoAAAAjAAAAIzRMqMmZ2FzcAAAAfQAAAAIAAAACAAAABBnbHlmAAAB/AAABrQAAAa06cYJwmhlYWQAAAiwAAAANgAAADYDuKvZaGhlYQAACOgAAAAkAAAAJAfCA89obXR4AAAJDAAAADgAAAA4JbcA3GxvY2EAAAlEAAAAHgAAAB4KYgiqbWF4cAAACWQAAAAgAAAAIAASAFBuYW1lAAAJhAAAAU4AAAFO8k3+sHBvc3QAAArUAAAAIAAAACAAAwAAAAMEAAGQAAUAAAKZAswAAACPApkCzAAAAesAMwEJAAAAAAAAAAAAAAAAAAAAARAAAAAAAAAAAAAAAAAAAAAAQAAA8MkDwP/A/8ADwABAAAAAAQAAAAAAAAAAAAAAIAAAAAAAAgAAAAMAAAAUAAMAAQAAABQABAB4AAAAGgAQAAMACgABACDwAvAE8AfwFfBU8FfwovDD8Mn//f//AAAAAAAg8ALwBPAH8BXwU/BX8KLww/DJ//3//wAB/+MQAhABD/8P8g+1D7MPaQ9JD0QAAwABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAB//8ADwABAAAAAAAAAAAAAgAANzkBAAAAAAEAAAAAAAAAAAACAAA3OQEAAAAAAQAAAAAAAAAAAAIAADc5AQAAAAACAAD/twO3A24AJgA3AAATNDc2NzY3NjMyFxYXFhcWFRQHFxYVFAcGIyIvAQYjIicmJyYnJjUzFBcWMzI3NjU0JyYjIgcGFQAgHzY2S0tRUktKNjYgIEfEFRYWHR8VxGZ+UUtLNjYfIJJLTGlqS0tLS2ppTEsB21JLSjY2ICAgIDY2SktSfWfEFR4eFRYWw0cgIDY2SktRaUtMTEtpaktLS0tqAAEAAAAABAADbgAqAAATNDc2MzIXFhcWFxYXNjc2NzY3NjMyFxYVFAcBBiMiJwEmJyYnJicmJyY1AElIgCQkJSAgFxYVFRYXICAlJCSASEmD/pwKDw8K/psFCgoWFhERDg0CYn5HRw0MFRUSEhUVEhIVFQwNR0d+foP+qQoKAVgFCgocGxwdKCkmAAAAAgAAAAADJQNuADUARgAANzQ3Njc2NzY3Njc2NzYzMhcWFxYXFjMyNzY3Njc2MzIXFhcWFxYXFhcWFxYVFAcGIyEiJyY1EzQ3NjMyFxYVFAcGIyInJjUAAgIGBgkJEA8UFB0dIwUTExcYJiYmJyYmFxgTEwUjHRwUFBAPCQoGBgICKipF/g1GKSq3QEBbW0BBQUBbW0BAlB4dHSEiHB0bGxMUCwsMDA8PDQwMDQ8PDAwLCxQTGxsdHCIhHR0eRScoKCdFAf5bQEFBQFtbQEBAQFsAAAACAA8ASQOoAyYAJwA/AAATNjcBNjMyHwE3Jjc2OwEyFxYHHwEWFRYPAQYHIyInCQEGJyYvASY3GwEmNyYzCQEUFwMWBwYrAScjByMiJyY3DwEFAZwRGhkTigEBBgUJbAkEBwEBfAYCBiIGBgMHBf51/nQGCAYGIgYCggEBAgEBAUcBSgEBAQwKENoBkgHaEAoMAQG1CAQBVg8PdG8IBQYGBQjpaAQICAYqBQEEAUr+tgUBAQUqBgj+uQESAQEBAQ/+8QEC/u4PCwvc3AsLDwAAAQBYAA8CqAOoABoAABM0NwE2MzIfARYVFAcJARYVFA8BBiMiJwEmNVgLAagLDw4LXwsL/tEBLwsLXwsODwv+WAsB2w8LAagLC18LDg8L/tD+0QsPDwpfCwsBqAsOAAAAAQAzAA8CgwOoABoAADc0NwkBJjU0PwE2MzIXARYVFAcBBiMiLwEmNTMLATD+0AsLXwsPDwsBqAoK/lgLDw8LXwuSDwsBLwEwCw8OC18LC/5YCw8OC/5YCwtfCg8AAAAAAgAAAAADbgNuABgARQAAEzQ3Njc2MzIXFhcWFRQHBgcGIyInJicmNRcUHwEWMzI/ARcWMzI/ATY1NC8BNzY1NC8BJiMiDwEnJiMiDwEGFRQfAQcGFQA7O2VkeHdlZTs7OztlZXd4ZGU7O90LMwsQDwpoZwsPDws0CwtoaAsLNAsPDwtnaAoPEAszCwtnZwsBt3dlZTs7OztlZXd4ZGU7Ozs7ZWR4gRALMwsLZ2cLCzMLEA8KaGcLDw8LNAsLaGgLCzQLDw8LZ2gKDwAAAwAA/7cDtwO3AC4APABNAAA3Njc2NTQ3NjcmNTQ3NjMyFxYVFAcWFxYVFBcWFxQHBiMhFAcGIyInJjUhIicmNTMhJicmNTQjIhUUBwYHBRQXFjMyNTQjIicmNTQjIhUAbTc3NzdgBBAQFhcQEARgNzY4N20WFh3/ACsrPTwrK/8AHhUWaQLlXTAvt7YwL10BDh0eKQoKIRkYCQmSXIeIlV83NwwKCxcQEBAQFwsKDDc3X5WIh1wdFhY8KysrKzwWFh1og4SRk5ORhINoSSodHQkJGBgiCQkAAgBCAAADdQNuACAAKAAANyY3ATUHJicmNTQ3NhclFhcWFRQHBicHFQEWBwYHJQYnEyUvATUnFQdCFCABICUPCwoKCw8BJQ8KCwsKDyUBICAUFDz9bTwUzgGXnAtJDCQkMwHF5QEBCQwOEAoMAQEBCgwOEAoLAQHj/jkxJiMBAQElAQAB9BL5AfsQAAADAAAASQNuAyUAFAApAD4AADc1NDc2MyEyFxYdARQHBiMhIicmNRE1NDc2MyEyFxYdARQHBiMhIicmNRE1NDc2MyEyFxYdARQHBiMhIicmNQALCw8DJA8LCwsLD/zcDwsLCwsPAyQPCwsLCw/83A8LCwsLDwMkDwsLCwsP/NwPCwtuSQ8LCgoLD0kPCwsLCw8BJEkPCwsLCw9JDwoLCwoPASVJDwsLCwsPSQ8LCwsLDwAAAAABAAAAAQAATzME018PPPUACwQAAAAAANBMs7cAAAAA0EyztwAA/7cEAAO3AAAACAACAAAAAAAAAAEAAAPA/8AAAAQAAAAAAAQAAAEAAAAAAAAAAAAAAAAAAAAOAAAAAAAAAAAAAAAAAgAAAAO3AAAEAAAAAyUAAAO3AA8C2wBYAtsAMwQAAAADtwAAA7cAQgQAAAAAAAAAAAoAFAAeAHAAtgEgAYgBuAHoAk4CugMAA1oAAAABAAAADgBOAAMAAAAAAAIAAAAAAAAAAAAAAAAAAAAAAAAADgCuAAEAAAAAAAEAEAAAAAEAAAAAAAIADgBOAAEAAAAAAAMAEAAmAAEAAAAAAAQAEABcAAEAAAAAAAUAFgAQAAEAAAAAAAYACAA2AAEAAAAAAAoANABsAAMAAQQJAAEAEAAAAAMAAQQJAAIADgBOAAMAAQQJAAMAEAAmAAMAAQQJAAQAEABcAAMAAQQJAAUAFgAQAAMAAQQJAAYAEAA+AAMAAQQJAAoANABsAHMAaABvAGUAbABhAGMAZQBWAGUAcgBzAGkAbwBuACAAMQAuADAAcwBoAG8AZQBsAGEAYwBlc2hvZWxhY2UAcwBoAG8AZQBsAGEAYwBlAFIAZQBnAHUAbABhAHIAcwBoAG8AZQBsAGEAYwBlAEYAbwBuAHQAIABnAGUAbgBlAHIAYQB0AGUAZAAgAGIAeQAgAEkAYwBvAE0AbwBvAG4ALgAAAAMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=");
  font-style: normal;
  font-weight: normal;
}
.icon-search:before {
  content: '\f002';
}
.icon-heart:before {
  content: '\f004';
}
.icon-user:before {
  content: '\f007';
}
.icon-home:before {
  content: '\f015';
}
.icon-left:before {
  content: '\f053';
}
.icon-right:before {
  content: '\f054';
}
.icon-ex:before {
  content: '\f057';
}
.icon-bell:before {
  content: '\f0a2';
}
.icon-flask:before {
  content: '\f0c3';
}
.icon-navicon:before {
  content: '\f0c9';
}
h1,
h2,
h3,
h4,
h5 {
  color: #334a59;
}
h1 {
  font-size: 44px;
  font-weight: bold;
  margin-bottom: 0;
  margin-left: 200px;
  padding: 50px 0 20px;
}
h2 {
  color: #446277;
  font-size: 25px;
  font-weight: bold;
  padding: 50px 0;
  position: relative;
  right: 850px;
  text-align: right;
}
hr.vertical {
  position: relative;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 310px;
}
hr.menu-top {
  margin-bottom: 10px;
}
hr.menu-bottom {
  opacity: 8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=800)";
  -webkit-filter: alpha(opacity=800);
  -moz-filter: alpha(opacity=800);
  -ms-filter: alpha(opacity=800);
  filter: alpha(opacity=800);
}
hr.menu-top,
hr.menu-bottom {
  margin-top: 0;
  margin-left: -250%;
  width: 500%;
}
main {
  width: 1000px;
  margin-left: 25%;
}
ul,
menu {
  padding-left: 0;
}
menu {
  display: inline-block;
  left: 200px;
  position: relative;
  width: 700px;
}
ul {
  list-style: none;
  float: left;
  position: relative;
  width: 33%;
}
ul .index {
  cursor: default;
  font-size: 10px;
  font-weight: bold;
  left: -25px;
  line-height: 1.75;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  -webkit-filter: alpha(opacity=50);
  -moz-filter: alpha(opacity=50);
  -ms-filter: alpha(opacity=50);
  filter: alpha(opacity=50);
  position: absolute;
}
li:nth-child(2) {
  font-weight: bold;
}
li:nth-child(2) a {
  color: #446277;
}
li:nth-child(2) a:focus {
  outline: 0;
}
li:nth-child(2) a:before {
  content: 'áš›';
  left: -15px;
  opacity: 0.25;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
  -webkit-filter: alpha(opacity=25);
  -moz-filter: alpha(opacity=25);
  -ms-filter: alpha(opacity=25);
  filter: alpha(opacity=25);
  position: absolute;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  -ms-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 150ms;
  -moz-transition-duration: 150ms;
  -o-transition-duration: 150ms;
  -ms-transition-duration: 150ms;
  transition-duration: 150ms;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  -ms-transition-timing-function: linear;
  transition-timing-function: linear;
}
section {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 200px;
  padding-right: 100px;
}
section .subsection {
  position: relative;
  margin-bottom: 50px;
}
section h3 {
  font-size: 12px;
  font-weight: bold;
  position: relative;
  top: 0;
  text-align: right;
  left: -100%;
  margin-right: 50px;
  margin-bottom: -15px;
}
pre {
  margin-top: 30px;
  margin-bottom: 30px;
}
