@require './node_modules/shoelace-ui-palette-solarized'

//- color vars
a--color           = lighten(desaturate(palette--blue, 80%), 45%)
palette--blue      = darken(desaturate(palette--blue, 60%), 25%)
blue               = palette--blue
palette--gray-base = blue
a--hover-color     = inherit
a--visited-color   = inherit
hr--border         = lighten(blue, 80%)

//- font vars

font-size--base  = 11px
font-family--monospace = 'source-code-pro'
font-family--sans-serif = 'source-code-pro', 'Helvetica Neue', sans-serif

//- dependencies

@require './node_modules/shoelace-ui-aglet'
@require './node_modules/nib'

//- styles

html
  font-size 14px

body
  overflow-x hidden

h1
h2
h3
h4
h5
  color darken(blue, 25%)

h1
  font-size 44px
  font-weight bold
  margin-bottom 0
  margin-top 0
  padding 50px 0 20px
  text-align center

h2
  color blue
  font-size 25px
  font-weight bold
  padding 50px 0
  position relative
  right 850px
  text-align right

h4
  font-size 12px

pre
code
  font-family font-family--monospace

hr
  &.vertical
    position relative
    transform rotate(90deg)
    right 310px
  &.menu-top
    margin-bottom 10px
  &.menu-bottom
    opacity 8
  &.menu-top
  &.menu-bottom
    margin-top 0

.quotes
  margin 0 auto
  max-width 500px
  text-align center

.quotes
.quote
.quote-value
.quote-author
  align-items center
  display flex
  flex-direction column
  flex 1

.quote-value
  font-weight 200

.quote-author
  margin-right 2rem

blockquote
  margin-right 5rem
  margin-left 3rem

main
  width 1000px
  margin 0 auto

ul
menu
  padding-left 0

menu
  display inline-block
  left 200px
  position relative
  width 800px

  .index
  .menuitem a
    color palette--blue

  .index-incomplete
  .menuitem-incomplete a
    color #ccc !important

  ul
    list-style none
    float left
    position relative
    width 33%
    .index
      cursor default
      font-size 10px
      font-weight bold
      left -25px
      line-height 1.75
      opacity .5
      position absolute

  .menuitem
    &-incomplete:hover a
      text-decoration none
      cursor default

    &:nth-child(2)

      font-weight bold
      a
        color palette--blue
        &:focus
          outline 0
        &:before
          content '᚛'
          left -15px
          opacity .25
          position absolute
          transition-property color
          transition-duration 150ms
          transition-timing-function linear

//- section stylus

section
  box-sizing border-box
  padding-left 200px
  padding-right 100px

  .subsection
    position relative
    margin-bottom 60px

$side-header
  font-weight bold
  margin-right 50px
  margin-top 0
  position absolute
  right 700px
  text-align right

section h3
  top 0
  font-size 12px
  @extends $side-header

create-label(sel, label, color)
  .{sel}
    color lighten(desaturate(color, 50%), 25%)
    margin 20px 0
    a
      color darken(color, 20%)

    &:before
      content label
      color color
      @extends $side-header

create-label('NOTE', 'Note', yellow)
create-label('WARNING', 'Warning', orange)

.filetree-content .inner pre
code.block-wide
code.block
code.lang-sh
  display inline-block
  margin-top 25px
  margin-bottom 45px
  margin-left 25%
  white-space pre-line

code.lang-shell
.filetree-content pre
  white-space pre-wrap

code.short
  @extends code.block
  margin-left 0

code.block-wide
  width 700px
  margin-left 0
  overflow-x scroll
  white-space pre
  font-size 10px

.filetree
  display inline-block
  margin-top 50px
  margin-bottom @margin-top
  &-help
  &-code
  &-content
    display inline-block
    float left
    position relative
    top 0

.filetree-code
  width 200px

  .line
    clear left
    .indent
      white-space pre

  code
  .line
  .text
    float left
    height 1.25rem
    line-height 1.25rem
    &-checkbox
      float left

.filetree-help
  color #aaa
  float right
  margin-top 25%
  right 100px
  text-align center
  &.hidden
    display none

.filetree-content
  width 400px

.filetree-content
  .inner
    display none
    margin-bottom 20px
    margin-left 25px
    position relative
    top 0
    &.active
      display block
      ~ .active
        margin-top 20px
        padding-top 20px
        border-top 1px solid #ddd

.text-code
  &.ignored
    cursor default !important
    font-weight normal !important
    text-decoration none !important
  &:hover
  .text.active &
    text-decoration underline
  .text.active &
    font-weight bold


.grouping-single
.text-code
  cursor pointer
  /.raw-file.configuration
  .configuration &
    color yellow
  /.raw-file.build
  .build &
    color red
  /.raw-file.boilderplate
  .boilerplate &
    color purple
  /.raw-file.markup
  .markup &
    color green
  /.raw-file.javascript
  .javascript &
    color blue
  /.raw-file.styles
  .styles &
    color orange
  /.raw-file.view
  .view &
    color magenta


.grouping
  position relative
  &-text
    clear both
    display inline-block
  &-single
    cursor default
    font-weight normal
    margin-bottom 0
    margin-top 0
    position absolute
    right 200px
    text-align right
  span
    cursor text

.raw-title
  color
.raw-file
  box-sizing border-box
  margin-bottom 20px
  margin-left -20px
  margin-right -15px
  padding 10px
  white-space pre-wrap
  border-width 1px
  border-style solid

img
  max-width 700px

.appendix-section
  li p:first-child
    margin-bottom 0

_line = 17px
for n in 1 2 3 4 5 6 7 8 9
  .parent-{n}
    height unit(n * 1.25, 'rem')
    .grouping-single
      line-height unit(n * 1.25, 'rem')

a:active
  outline 0