module.exports = function anonymous(obj) {

  function escape(html) {
    return String(html)
      .replace(/&/g, '&amp;')
      .replace(/"/g, '&quot;')
      .replace(/</g, '&lt;')
      .replace(/>/g, '&gt;');
  };

  function section(obj, prop, negate, thunk) {
    var val = obj[prop];
    if (Array.isArray(val)) return val.map(thunk).join('');
    if ('function' == typeof val) return val.call(obj, thunk(obj));
    if (negate) val = !val;
    if (val) return thunk(obj);
    return '';
  };

  return "div\n  p.\n    poe-ui is a high-productivity collection of tools and practices for <br/>\n    rapidly writing production-ready applications.\n  \n  br\n  a(href=\"https://github.com/poegroup/poe-ui\") github\n  a(href=\"https://poegroup.github.com/guide\") guide\n"
}