html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
  font: 11px/1.428571429 'source-code-pro', 'Helvetica Neue', sans-serif;
  margin: 0;
  color: #002b36;
}
a {
  color: #adb9c1;
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
p {
  margin: 0 0 7.5px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 400;
  line-height: 1.1;
  color: inherit;
}
h1,
h2 {
  margin-top: 15px;
  margin-bottom: 7.5px;
}
h3,
h4,
h5,
h6 {
  margin-top: 7.5px;
  margin-bottom: 7.5px;
}
h1 {
  font-size: 28px;
}
h2 {
  font-size: 23px;
}
h3,
h4 {
  font-size: 14px;
}
h5 {
  font-size: 11px;
}
h6 {
  font-size: 10px;
}
hr {
  margin-top: 15px;
  margin-bottom: 15px;
  border: 0;
  border-top: 1px solid #d6e0e8;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
[class^=button] {
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 11px;
  font-weight: 400;
  line-height: 1.428571429;
  margin: 0;
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
[class^=button]:focus {
  outline: thin dotted #333;
  outline: 0 auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
[class^=button].hover,
[class^=button]:hover,
[class^=button]:focus {
  text-decoration: none;
}
[class^=button].active,
[class^=button]:active {
  outline: 0;
  background-image: none;
  box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
}
[class^=button].disabled,
[class^=button][disabled],
fieldset[disabled] [class^=button] {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
  box-shadow: none;
}
.button-default {
  background: #fff;
  color: #656;
  border-width: 1px;
  border-style: solid;
  border-color: #777;
}
.button-default.hover,
.button-default:hover,
.button-default:focus {
  color: #656;
  background: #fff;
}
.button-transparent {
  background: transparent;
  color: #656;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
}
.button-transparent.hover,
.button-transparent:hover,
.button-transparent:focus {
  color: #656;
}
.button-primary {
  background: #446277;
  color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #3d586b;
}
.button-primary.hover,
.button-primary:hover,
.button-primary:focus {
  color: #fff;
  background: #50738c;
}
.button-warning {
  background: #cb4b16;
  color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #b74414;
}
.button-warning.hover,
.button-warning:hover,
.button-warning:focus {
  color: #fff;
  background: #e55519;
}
.button-danger {
  background: #dc322f;
  color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #ce2623;
}
.button-danger.hover,
.button-danger:hover,
.button-danger:focus {
  color: #fff;
  background: #e04744;
}
.button-success {
  background: #859900;
  color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #788a00;
}
.button-success.hover,
.button-success:hover,
.button-success:focus {
  color: #fff;
  background: #a4bd00;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
}
input[type="text"],
select,
textarea {
  background-color: #fff;
  border-color: #b4bfc1;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.055);
  box-sizing: border-box;
  color: #002b36;
  display: block;
  font-size: 11px;
  height: 29px;
  line-height: 1.428571429;
  margin-bottom: 6px;
  padding: 6px 10px;
  vertical-align: middle;
  width: 100%;
  transition-property: border-color box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
}
input[type="text"][disabled],
select[disabled],
textarea[disabled],
input[type="text"][readonly],
select[readonly],
textarea[readonly],
fieldset[disabled] input[type="text"],
fieldset[disabled] select,
fieldset[disabled] textarea {
  cursor: not-allowed;
  background-color: #dbdfe3;
}
input[type="text"]:focus,
select:focus,
textarea:focus {
  border-color: #9ba9ad;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.055), 0 0 8px #9ba9ad;
  outline: 0;
  outline-offset: -2px;
}
select[multiple],
select[size] {
  height: auto;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
label {
  display: inline-block;
  margin-bottom: 6px;
  font-weight: bold;
}
legend {
  border: 0;
  border-bottom: 1px solid #e5e5e5;
  color: #586e75;
  display: block;
  font-size: 16.5px;
  line-height: inherit;
  margin-bottom: 15px;
  padding: 0;
  width: 100%;
}
.container {
  *zoom: 1;
  margin-right: auto;
  margin-left: auto;
  padding-left: 30px;
  padding-right: 30px;
}
.container:before,
.container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
.badge {
  display: inline-block;
  min-width: 10px;
  padding: 2px 5px;
  font-size: 12px;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #999;
  border-radius: 10px;
  margin-left: 8px;
  color: #fff;
}
.badge:empty {
  display: none;
}
html {
  font-size: 14px;
}
body {
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5 {
  color: #334a59;
}
h1 {
  font-size: 44px;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 0;
  padding: 50px 0 20px;
  text-align: center;
}
h2 {
  color: #446277;
  font-size: 25px;
  font-weight: bold;
  padding: 50px 0;
  position: relative;
  right: 850px;
  text-align: right;
}
h4 {
  font-size: 12px;
}
pre,
code {
  font-family: 'source-code-pro';
}
hr.vertical {
  position: relative;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 310px;
}
hr.menu-top {
  margin-bottom: 10px;
}
hr.menu-bottom {
  opacity: 8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=800)";
  -webkit-filter: alpha(opacity=800);
  -moz-filter: alpha(opacity=800);
  -ms-filter: alpha(opacity=800);
  filter: alpha(opacity=800);
}
hr.menu-top,
hr.menu-bottom {
  margin-top: 0;
}
.quotes {
  margin: 0 auto;
  max-width: 500px;
  text-align: center;
}
.quotes,
.quote,
.quote-value,
.quote-author {
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.quote-value {
  font-weight: 200;
}
.quote-author {
  margin-right: 2rem;
}
blockquote {
  margin-right: 5rem;
  margin-left: 3rem;
}
main {
  width: 1000px;
  margin: 0 auto;
}
ul,
menu {
  padding-left: 0;
}
menu {
  display: inline-block;
  left: 200px;
  position: relative;
  width: 800px;
}
menu .index,
menu .menuitem a {
  color: #446277;
}
menu .index-incomplete,
menu .menuitem-incomplete a {
  color: #ccc !important;
}
menu ul {
  list-style: none;
  float: left;
  position: relative;
  width: 33%;
}
menu ul .index {
  cursor: default;
  font-size: 10px;
  font-weight: bold;
  left: -25px;
  line-height: 1.75;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  -webkit-filter: alpha(opacity=50);
  -moz-filter: alpha(opacity=50);
  -ms-filter: alpha(opacity=50);
  filter: alpha(opacity=50);
  position: absolute;
}
menu .menuitem-incomplete:hover a {
  text-decoration: none;
  cursor: default;
}
menu .menuitem:nth-child(2) {
  font-weight: bold;
}
menu .menuitem:nth-child(2) a {
  color: #446277;
}
menu .menuitem:nth-child(2) a:focus {
  outline: 0;
}
menu .menuitem:nth-child(2) a:before {
  content: '᚛';
  left: -15px;
  opacity: 0.25;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
  -webkit-filter: alpha(opacity=25);
  -moz-filter: alpha(opacity=25);
  -ms-filter: alpha(opacity=25);
  filter: alpha(opacity=25);
  position: absolute;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  -ms-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 150ms;
  -moz-transition-duration: 150ms;
  -o-transition-duration: 150ms;
  -ms-transition-duration: 150ms;
  transition-duration: 150ms;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  -ms-transition-timing-function: linear;
  transition-timing-function: linear;
}
section h3,
.NOTE:before,
.WARNING:before {
  font-weight: bold;
  margin-right: 50px;
  margin-top: 0;
  position: absolute;
  right: 700px;
  text-align: right;
}
section {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 200px;
  padding-right: 100px;
}
section .subsection {
  position: relative;
  margin-bottom: 2rem;
}
section a {
  font-weight: bold;
}
section h3 {
  top: 0;
  font-size: 12px;
}
.NOTE {
  color: #c2a446;
  margin: 20px 0;
}
.NOTE a {
  color: #916e00;
}
.NOTE:before {
  content: 'Note';
  color: #b58900;
}
.NOTE pre > code {
  background-color: rgba(181,137,0,0.05);
  padding-top: 1rem;
}
.NOTE pre > code,
.NOTE p code {
  border-color: rgba(181,137,0,0.25);
}
.WARNING {
  color: #bf8369;
  margin: 20px 0;
}
.WARNING a {
  color: #a23c12;
}
.WARNING:before {
  content: 'Warning';
  color: #cb4b16;
}
.WARNING pre > code {
  background-color: rgba(203,75,22,0.05);
  padding-top: 1rem;
}
.WARNING pre > code,
.WARNING p code {
  border-color: rgba(203,75,22,0.25);
}
p code {
  border: 1px solid #dbdfe3;
  padding: 0 4px;
}
code.block-wide,
code.block,
code.lang-sh,
pre code,
code.short {
  background: #edeff0;
  border: 1px solid #dbdfe3;
  display: block;
  padding: 2rem;
  margin: 2rem auto;
  white-space: pre-wrap;
}
.filetree-content pre code {
  background: transparent;
}
code.short {
  margin-left: 0;
}
code.block-wide {
  width: 700px;
  margin-left: 0;
  overflow-x: scroll;
  white-space: pre;
  font-size: 10px;
}
.filetree {
  display: inline-block;
  margin-top: 50px;
}
.filetree-help,
.filetree-code,
.filetree-content {
  display: inline-block;
  float: left;
  position: relative;
  top: 0;
}
.filetree-code {
  width: 200px;
}
.filetree-code .line {
  clear: left;
}
.filetree-code .line .indent {
  white-space: pre;
}
.filetree-code code,
.filetree-code .line,
.filetree-code .text {
  float: left;
  height: 1.25rem;
  line-height: 1.25rem;
}
.filetree-code code-checkbox,
.filetree-code .line-checkbox,
.filetree-code .text-checkbox {
  float: left;
}
.filetree-help {
  color: #aaa;
  float: right;
  margin-top: 100px;
  right: 100px;
  text-align: center;
}
.filetree-help.hidden {
  display: none;
}
.filetree-content {
  width: 400px;
}
.filetree-content .inner {
  display: none;
  margin-bottom: 20px;
  margin-left: 25px;
  position: relative;
  top: 0;
}
.filetree-content .inner.active {
  display: block;
}
.filetree-content .inner.active ~ .active {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #ddd;
}
.filetree-content .NOTE:before {
  position: relative;
  margin-right: 0;
  left: 0;
}
.text-code.ignored {
  cursor: default !important;
  font-weight: normal !important;
  text-decoration: none !important;
}
.text-code:hover,
.text.active .text-code {
  text-decoration: underline;
}
.text.active .text-code {
  font-weight: bold;
}
.grouping-single,
.text-code {
  cursor: pointer;
}
.raw-file.configuration,
.configuration .grouping-single,
.configuration .text-code {
  color: #b58900;
}
.raw-file.build,
.build .grouping-single,
.build .text-code {
  color: #dc322f;
}
.raw-file.boilderplate,
.boilerplate .grouping-single,
.boilerplate .text-code {
  color: #800080;
}
.raw-file.markup,
.markup .grouping-single,
.markup .text-code {
  color: #859900;
}
.raw-file.javascript,
.javascript .grouping-single,
.javascript .text-code {
  color: #446277;
}
.raw-file.styles,
.styles .grouping-single,
.styles .text-code {
  color: #cb4b16;
}
.raw-file.view,
.view .grouping-single,
.view .text-code {
  color: #d33682;
}
.grouping {
  position: relative;
}
.grouping-text {
  clear: both;
  display: inline-block;
}
.grouping-single {
  cursor: default;
  font-weight: normal;
  margin-bottom: 0;
  margin-top: 0;
  margin-right: 50px;
  position: absolute;
  right: 200px;
  text-align: right;
}
.grouping span {
  cursor: text;
}
.raw-file {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 20px;
  margin-left: -20px;
  margin-right: -15px;
  padding: 10px;
  white-space: pre-wrap;
  border-width: 1px;
  border-style: solid;
}
img {
  max-width: 700px;
}
.appendix-section li p:first-child {
  margin-bottom: 0;
}
.parent-1 {
  height: 1.25rem;
}
.parent-1 .grouping-single {
  line-height: 1.25rem;
}
.parent-2 {
  height: 2.5rem;
}
.parent-2 .grouping-single {
  line-height: 2.5rem;
}
.parent-3 {
  height: 3.75rem;
}
.parent-3 .grouping-single {
  line-height: 3.75rem;
}
.parent-4 {
  height: 5rem;
}
.parent-4 .grouping-single {
  line-height: 5rem;
}
.parent-5 {
  height: 6.25rem;
}
.parent-5 .grouping-single {
  line-height: 6.25rem;
}
.parent-6 {
  height: 7.5rem;
}
.parent-6 .grouping-single {
  line-height: 7.5rem;
}
.parent-7 {
  height: 8.75rem;
}
.parent-7 .grouping-single {
  line-height: 8.75rem;
}
.parent-8 {
  height: 10rem;
}
.parent-8 .grouping-single {
  line-height: 10rem;
}
.parent-9 {
  height: 11.25rem;
}
.parent-9 .grouping-single {
  line-height: 11.25rem;
}
a:active {
  outline: 0;
}
